.admin-form
{
    margin: auto;
    margin-top: 100px;
    box-shadow: 3px 3px 3px rgb(112, 187, 6);
    transition: 2s;
    background-image: url("/projects/mitchelle/images/background/admin.jpg"); 
    background-position: center;
    background-size: cover;
   
    
}
h4,h5
{
    font-family: 'Angkor';
    font-size: 22px;
    text-shadow: 3px 3px 3px rgb(184, 10, 30);
}
.admin-form *+*
{
    margin-top: .5rem;
}
.admin-form:hover{
    box-shadow: 3px 4px 7px rgb(233, 237, 6);

}
.admin-form input
{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: red;
}
.admin-form input:focus
{
    background: none;
    color: wheat;
}
h4

{
    transition: 2s;
}
h5{
    display: none;
}
.admin-form:hover h4
{
    transform: rotate(360deg);
    color: aqua;
    

}
.error
{
    background: none;
    border:none;
}
.admin-form:hover h5
{
    display: block;
}
